
@{
    ViewData["Title"] = "Index";
}

<h1>Notifications</h1>

<link href="~/js/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/js/froala-editor/js/froala_editor.pkgd.min.js"></script>
@*<script type="text/javascript" src="~/js/froala-editor/js/plugins/image_manager.min.js"></script>*@


<div id="editor"></div>

<script type="text/javascript">
    var editor = new FroalaEditor('#editor', {
        heightMin: 500,
        heightMax: 700
    })
</script>

<script>
    let editor = new FroalaEditor('div#froala-editor', {}, function () {
        console.log(editor.html.get())
    });
</script>