@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<link href="~/js/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/js/froala-editor/js/froala_editor.pkgd.min.js"></script>

<div id="example"></div>

<script type="text/javascript">
    var editor = new FroalaEditor('#example')
</script>
